.priority {
  text-transform: uppercase;
  border-radius: 5px;
  padding: 2px;
  font-weight: bold;
  font-size: 12px;
  min-width: 72px;
}

.buttonContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
}